<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="App.Metrics.Abstractions" version="3.2.0" targetFramework="net472" />
  <package id="App.Metrics.Concurrency" version="2.0.2" targetFramework="net472" />
  <package id="App.Metrics.Core" version="3.2.0" targetFramework="net472" />
  <package id="App.Metrics.Formatters.Ascii" version="3.2.0" targetFramework="net472" />
  <package id="App.Metrics.Reporting.Console" version="3.2.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net452" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net452" />
</packages>